.Footer {
  color: #4b241b;
  padding: 0 70px 10px;
  background-color: #d9c7b2;
  margin-top: -60px;
}

.Footer_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0;
}

.Footer_line {
  width: 70%;
  margin: 0 auto -50px;
  border-top: 1px dotted #8b6a55;
}


.Footer_top-left h1 {
  margin: 0 0 30px;
  font-size: 64px;
  text-transform: uppercase;
  color: #4b241b;
}

.Footer_top-left p {
  margin: 0 0 35px;
  font-size: 18px;
  font-weight: 700;
  color: #4b241b;
}

.Footer_top-right {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 50px;
  padding-top: 0px;
}

.Footer_logo-img {
  width: 350px;
  height: auto;
  object-fit: contain;
}

.Footer_bottom {
  border-top: 1px dotted #8b6a55;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.Footer_bottom-right ul {
  display: flex;
  align-items: center;
  gap: 34px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.Footer_bottom-right a {
  text-decoration: none;
  color: #7a4a34;
  font-weight: 700;
  font-size: 16px;
}

.Footer_bottom-right a:hover {
  color: #3a2415;
}